@import "tailwindcss";



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* DEFAULT (Light Theme) */
    --bg-color: #0f172a;
    /* --container-bg: #0f172a; Slate 900 */
    --text-color: #e5e7eb; /* Gray 200 */
    --text-muted: #9ca3af; /* Gray 400 */
    --header-border: #1f2937; /* Gray 800 */
    --card-bg: #1f2937; /* Gray 800 */
    --input-bg: #111827; /* Gray 900 */
    --accent-color: #06b6d4; /* Cyan 500 */
    --accent-hover: #0891b2; /* Cyan 600 */
}

.dark {
    --bg-color: #030712;
    --container-bg: #0f172a; /* Slate 900 */
    --text-color: #e5e7eb; /* Gray 200 */
    --text-muted: #9ca3af; /* Gray 400 */
    --header-border: #1f2937; /* Gray 800 */
    --card-bg: #1f2937; /* Gray 800 */
    --input-bg: #111827; /* Gray 900 */
    --accent-color: #06b6d4; /* Cyan 500 */
    --accent-hover: #0891b2; /* Cyan 600 */
}

a {
  font-weight: 500;

  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  
}

h1 {
  
  line-height: 1.1;
}

/* Base card and input styles using CSS variables */

.app-card-item {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--header-border);
}
.app-input {
    background-color: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--header-border);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #a8b5c700; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
     text-align: center;
    width: 100vw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
}
